<%- include("partials/header.ejs") %>

<div class="blog_input">
<h1>Blog</h1>
<form action="/blog" method="POST">
  <input type="text" name="title" placeholder="Title" style="width: 600px; height: 40px;"><br>
  <input type="text" name="auther" placeholder="AutherName" style="width: 600px; height: 40px;"><br>
  <input type="text" name="content" placeholder="Blog" size="85px" style="width: 600px; height: 200px;"><br>
  <input type="submit" value="OK" style="width: 50px; height: 40px;">
</form>
</div>